@use 'sass:list';

$day-size: 100px;
$day-gap: 1px;
$calendar-padding: 10px;
$days-per-week: 7;
$day-border: 1px solid #000;
$hover-distance: 20px;
$transition-duration: 0.5s;
$day-background: #eee;
$day-hover-background: #ffbfcb;

body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar {
  display: flex;
  flex-wrap: wrap;
  gap: $day-gap;
  padding: $calendar-padding;

  width: $day-size * $days-per-week + $day-gap * ($days-per-week - 1);
}

.calendar__day {
  box-sizing: border-box;
  width: $day-size;
  height: $day-size;

  background-color: $day-background;
  border: $day-border;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Arial, sans-serif;
  font-size: 30px;

  cursor: pointer;

  transition:
    background-color $transition-duration,
    transform $transition-duration;

  &:hover {
    background-color: $day-hover-background;
    transform: translateY(-20px);
  }

  @for $day from 1 through 31 {
    &:nth-child(#{$day})::before {
      content: '#{$day}';
    }
  }
}

$week-days: mon, tue, wed, thu, fri, sat, sun;

@each $day in $week-days {
  $index: list.index($week-days, $day);

  .calendar--start-day-#{$day} {
    .calendar__day:first-child {
      margin-left: ($index - 1) * ($day-size + $day-gap);
    }
  }
}

@for $length from 28 through 31 {
  .calendar--month-length-#{$length} {
    .calendar__day:nth-child(n + #{$length + 1}) {
      display: none;
    }
  }
}
